/* general styles */
.profile {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
  	height: 1055px;
  	font-size: 14px;
  	color: #000;
  	font-family: Inter;
}
/* header styles */
.items {
  	position: relative;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.designpatternsfactory {
  	position: relative;
  	font-weight: 500;
}

.navigation {
	width: 90%;
  	position: relative;
  	height: 164px;
	margin-top: 30px;
  	font-size: 20px;
}

.divider {
	flex: 1;
}

.home {
  	position: relative;
  	line-height: 150%;
  	font-weight: 500;
  	cursor: pointer;
}
/* body styles */
.body{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	margin-top: 30px;
}
